@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.py-19 {
    padding-top: 5rem;
padding-bottom: 4.5rem; /* Adjust as needed for your base unit */
  }

  .ml-39 {
    margin-left: 9.5rem;
  }

  .ml-43 {
    margin-left: 9.99rem;
  }




